{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<h1>this is my list of blog articles</h1>
<h2>flo has written {{projects.count}} blog{{projects.count|pluralize}}</h2>
{% for project in projects %}

<a href="{% url 'blog:detail' project.id %}"><h2>{{project.title}}</h2></a><br/>


 
<h5>{{project.date|date:'M d Y'}}</h5> 
<p>{{ project.description|striptags|truncatechars:100 }}</p>

{{ project.image }} <br/>
{{ project.image.url }} <br/> <br/>
<img src="{{ project.image.url }}" width='100px' alt="">
<!-- <img src="{{ project.image }}" alt=""> -->

{% if project.url %}
<br/> <a href="{{ project.url }}"> link </a> <br/>
{% endif %}
<br/>

{% endfor %}

{% endblock %}
