<h2>this is my bloggg</h2>
{% load static %}

<a href="{% static 'portfolio/the-analytics-stack-guidebook.pdf' %}">Resume</a> <br/>
<img src="{% static 'portfolio/me_blue.png' %}" > <br/>


{% for project in projects %}

title: {{project.title}}, url: {{ project.url }} <br/>
{{ project.image }} <br/>
{{ project.image.url }} <br/> <br/>
<img src="{{ project.image.url }}" width='100px' alt="">
<!-- <img src="{{ project.image }}" alt=""> -->
{% if project.url %}
<br/> <a href="{{ project.url }}"> link </a> <br/>
{% endif %}
<br/>
{% endfor %}
